name: keep-awake

on:
  schedule:
    - cron: "*/3 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: curl
        run: curl -fsS https://www.nuaaguide.shop/api/ping || exit 1
